{% extends './index.html' %}

{% block content %}
<div class="grid grid-cols-1 h-screen place-items-center align-center">
    <div class="bg-white-500 shadow-lg rounded-md w-full sm:w-1/2 md:w-1/2 container mx-auto mt-16">
        <div class="px-4 py-2">
            <div class="mb-2">
         <h1 class="font-bold text-lg py-2 text-start">Log in into Your account.</h1>
       </div>
        </div>
        <form method="post" action="" class="px-4">
            {% csrf_token %}
            <div class="mb-6">
             <label for="email" class="block mb-2 text-sm font-medium font-bold text-black">Email</label>
            <input type="email" name="email" class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="email address" required>
         </div>
            <div class="mb-6">
           <label for="password" class="block mb-2 text-sm font-medium font-bold text-black">Password</label>
           <input type="password" placeholder="Password" name="password"  class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
         </div>
            <div class="flex justify-between mb-6">
                <button type="submit" style="background-color:#2AB7B1" class=" mb-2 text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/2  sm:w-auto px-5 py-2.5 text-center dark:focus:ring-blue-800">Sign In</button>
                <a href="#" class="font-bold mt-2" style="color:#2AB7B1">Forgot Password?</a>
            </div>
            <div class="text-white mt-4">
                  hllo
            </div>
        </form>
        <p class="mb-4"></p>
    </div>
</div>
{% endblock %}