{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Synop</title>
    <script src="https://kit.fontawesome.com/58f01665fe.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> <!--Totally optional :) -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    <style>
        body{
            font-family: 'Roboto', sans-serif;
        }

        section{
            width: 100%;
        }
    </style>
</head>
<body>
     {% include "./partials/sidebar.html" %}
<div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
  {% include "./partials/header.html" %}

  <div class="">
    <div class="px-6 pt-6 2xl:container">
      {% block content %}
      {% endblock %}
 </div>
  </div>
</div>

<!-- js scripts -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  {% for message in messages %}
     {% if message.tags == 'error' %}
       swal("Error!", "{{message}}", "error");
     {% elif message.tags == 'success' %}
      swal("Success", "{{message}}", "success");
     {% endif %}
  {% endfor %}
</script>
</body>
</html>