{% extends 'base.html' %}

{% block content %}
    <div id="main" class="">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
            {% for synop in synops %}
            <div class="shadow-xl rounded-lg px-2 py-1 bg-white-500 mt-4">
                <!-- top section -->
                <div>
                    <p class="text-bule-700 font-bold text-lg">
                  {{data.station_id}}
                    </p>
                </div>
                <!-- data -->
                <div>
                   <p class="text-xl my-2">{{code}}</p>
                </div>
                <!-- time -->
                <div>
                   <p>{{created}}</p>
                </div>
            </div>
            {% endfor %}
            askjdhad
        </div>
    </div>
</section>
{% endblock %}