{% extends 'base.html' %}

{% block content %}
<div class="p-8">
    <h1 class="font-bold text-gray-800 text-2xl">Overview</h1>
    <!-- latest data view -->
    <div class="mt-8">
        <!-- latest synops -->
        {% if synops %}
        <div>
            <!-- lastest synop data summaries -->
            <div class="grid grid-cols-3 gap-4">
                {% for synop in synops %}
                <div class="bg-white-500 shadow-lg rounded-lg px-4 py-2">
                    <!-- header -->
                    <h1 class="text-bold">{{synop.data.station_id}}</h1>
                    <div class="mt-2">
                        <p>{{synop.code}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="mt-8">
            <p class="text-center">No Activity Today</p>
        </div>
        {% endif %}

        
    </div>

</div>
    <!-- <div id="main" class="">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
            {% for synop in synops %}
            <div class="shadow-xl rounded-lg px-2 py-1 bg-white-500 mt-4">
                <div>
                    <p class="text-bule-700 font-bold text-lg">
                  {{data.station_id}}
                    </p>
                </div>
                <div>
                   <p class="text-xl my-2">{{code}}</p>
                </div>
                <div>
                   <p>{{created}}</p>
                </div>
            </div>
            {% endfor %}
            askjdhad
        </div>
    </div> -->

{% endblock %}