{% extends 'base.html' %}
{% block content %}
<div class="p-8">
    <!-- page headers -->
    <div class="flex justify-between">

        <h1 class="font-bold text-gray-800 text-2xl flex">{{station.station_name}} <p class="font-normal mx-2"> - </p>  <p class="font-normal">{{station.district}}</p></h1> 
        <div class="flex">
            <a href="{% url 'accounts:edit_station' station.id %}" class="px-5 py-1.5 bg-blue-500 font-bold text-white shadow-lg rounded-lg mr-4">Edit</a>
            <form action="{% url 'accounts:delete_station' station.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="px-5 py-1.5 bg-red-500 font-bold text-white shadow-lg rounded-lg">Delete</button>
            </form>
        </div>
    </div>

    <!-- page content -->
    <div class="">
        <!-- subtext -->
        <div class="mt-2">
            {% if user %}
                {% for user in user %}
                <p class="text-sm">Under {{user.name}} leadership</p>
                {% endfor %}
            {% else %}
                <p>No Observer assigned</p>
            {% endif %}
        </div>

        <!-- data -->
        <div class="mt-8">
            <h1 class="font-medium text-lg">Synops</h1>
            <div class="my-2">
               {% if synops %}
                {% for synop in synops %}
                {% endfor %}
               {% else %}
                 <p class="text-center">No synops available</p>
               {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}